.objectives {
    margin-top: 1%;
    background-color: #ddcebb;
    margin-bottom: 2%;
    overflow-wrap: break-word;
}

.objective-title-typography {
    font-size: 20px;
    color: black;
    margin-bottom: 6%;
}

.objective-heading-typography {
    font-size: 18px;
    color: black;
    margin-bottom: 2%;
    margin-top: 2%;
}

.objective-content-typography {
    font-size: 18px;
    color: black;
}

.winner-message {
    margin-top: 10%;
    background-color: #a87072;
    margin-bottom: 2%;
}
