<div class="hero">
    <div class="container">
        <h1 class="header-item">Vous êtes dans la salle d'attente {{ this.roomService.player.roomId }}</h1>
        <svg width="200" height="200" viewBox="0 0 100 100">
            <polyline class="line-cornered stroke-still" points="0,0 100,0 100,100" stroke-width="10" fill="none"></polyline>
            <polyline class="line-cornered stroke-still" points="0,0 0,100 100,100" stroke-width="10" fill="none"></polyline>
            <polyline class="line-cornered stroke-animation" points="0,0 100,0 100,100" stroke-width="10" fill="none"></polyline>
            <polyline class="line-cornered stroke-animation" points="0,0 0,100 100,100" stroke-width="10" fill="none"></polyline>
        </svg>
        <section class="button-block">
            <div class="is-grouped">
                <button mat-raised-button class="button" routerLink="/creerPartieMultijoueurs" (click)="abandonWaitingRoom()">Annuler</button>
                <button mat-raised-button color="blue" class="button" routerLink="/choisirDifficulteJoueurVirtuel">Convertir en Mode Solo</button>
            </div>
        </section>
    </div>
</div>
