<div class="hero">
    <div class="container justified">
        <h1 class="header-item">Choisir mode de jeu</h1>
        <mat-card class="form-card">
            <div class="justified">
                <button mat-raised-button color="blue" class="button" routerLink="/parametres">Jouer partie solo</button>
                <button mat-raised-button color="blue" class="button" routerLink="/creerPartieMultijoueurs">Creer partie multijoueur</button>
                <button mat-raised-button color="gold" class="button" routerLink="/choisirPartieMultijoueurs">Joindre une partie multijoueur</button>

                <div class="is-grouped">
                    <button mat-raised-button class="button" routerLink="/home">Annuler</button>
                </div>
            </div>
        </mat-card>
    </div>
</div>
