.player-info {
    margin-top: 5%;
    background-color: #afbdd5;
    margin-bottom: 2%;
}

.player-info-typography {
    margin-top: 5%;
    font-size: 20px;
    color: black;
    margin-bottom: 5%;
}

.player-name-typography {
    padding-top: 5%;
    margin-bottom: 10%;
    font-size: 26px;
    color: black;
    font-weight: 400;
}

.color1 {
    border: 5px solid #ffa9a9;
}

.timer-reserve {
    margin-top: 5%;
    background-color: #ddcebb;
    line-height: 1.3;
    margin-bottom: 5%;
}

.timer-typography {
    margin-top: 10%;
    font-size: 24px;
    color: black;
    margin-bottom: 10%;
}

.invisibleButton {
    display: none;
}

.abandon-button {
    font-size: 18px;
    margin-top: 10%;
}

.column-buttons {
    justify-items: center;
    margin-top: 10%;
}

.button {
    margin-left: 3px;
    margin-top: 3px;
    margin-right: 3px;
    margin-bottom: 3px;
    color: black;
    font-size: 18px;
}

.mat-raised-button.mat-button-disabled.mat-button-disabled {
    color: rgb(165 165 165 / 55%);
    background-color: rgb(165 165 165 / 25%);
}

.invisibleButton {
    display: none;
}
/*https://www.codegrepper.com/code-examples/html/add+space+between+two+buttons+css*/
